.simButton {
  background-color: white;
  outline: none;
  border: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer; 
  font-family: Arial, sans-serif;
  font-weight: 600;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
}

.simButton:hover {
  background-color: #f0f0f0; 
  transform: scale(1.05); 
}

.simButton:active {
  transform: scale(0.98); 
  background-color: #e0e0e0; 
}